<form action="/auth/login" method="POST">
  <p>FritName</p>
  <input type="text" name="username" value="{{inputData.username}}">
  <p>Password</p>
  <input type="password" name="password" value="{{inputData.password}}">
  <br>
  <button type="submit">Submit</button>
  <br>
  <br>
   <a href="/register"> Register!</a>
</form>