{{!-- това е главния HTML който е еднакъв навсякъде --}}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <title>Chief HTML</title>
</head>
<body>
    <header class="menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <br>
             <li>
                <a href="/all">View all Books</a>
            </li>
            <br> 
             <li>
                <a href="/add">Add Book</a>
            </li>
            <br>
        </ul>
    </header>
    <div class="container">
            {{{body}}}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        
    <footer class="footer">
        Copyright 2018.....
    </footer>
</body>
</html>